<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> By HealthCareChair Team<br>
      由 <a href="https://workers.cloudflare.com/" target="_blank">Cloudflare Workers</a> 托管<br>
      由 <a href="https://hexo.io/" target="_blank">Hexo</a> 强力驱动<br>
    </div>
  </div>
</footer>